@import '/src/assets/colors';
.post-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 3;
  display: flex;

  &__container-image {
    display: flex;
    background: black;
    width: 80%;
    height: 500px;
    justify-content: center;
    margin: auto;

    &--empty {
      background-color: transparent;
    }
  }

  &__container-information {
    width: 30%;
    display: flex;
    background: white;
    flex-direction: column;
  }

  &__image {
    border: $border-clean;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  &__container-user {
    display: flex;
    margin: 10px;

    &--comment {
      background: white;
      flex-direction: column;
      border: $border-clean;
      padding: 10px;
      border-radius: $radius-sm;
    }
  }

  &__container-name-date {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__container-name {
    font-size: 22px;
    font-weight: 600;

    &--comment {
      font-size: 17px;
      margin-left: 10px;
    }
  }

  &__container-content {
    margin: 10px;
  }

  &__container-text {
    word-break: break-word;

    &--comment {
      margin-left: 10px;
    }
  }

  &__container-comments {
    border-radius: $radius-sm;
    background: #E2F1E4;
    margin: 10px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column-reverse;
    display: flex;
    overflow: auto;
  }

  &__input {
    border: $border-clean;
    border-radius: $radius-sm;
    height: 36px;
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding-left: 5px;
    width: 83%;
    font-size: 16px;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    border: none;
    outline: none;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    background: #F9FFF9;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__flex {
    display: flex;
  }

  &__delete-comment {
    border-radius: $radius-sm;
    padding: 3px;
    background: none;
    color: $cancel-color;
    font-weight: 500;
    height: 25px;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    outline: 2px solid $delete-color;
    outline-offset: -2px;
    &:hover {
      background: $cancel-color;
      color: white;
    }
  }

  .slick-slider {
    width: 1000px !important;
    height: 500px !important;
  }

  .slick-prev {
    left: 50px !important;
    color: white !important;
    z-index: 1;
  }

  .slick-next {
    right: 50px !important;
    color: white !important;
  }

  &__added-photo {
    height: 500px !important;
    display: flex !important;
    justify-content: center;
  }

  &__photo {
    height: 100%;
  }
}

.close-post-modal {
  border-radius: $radius-sm;
  outline: none;
  position: fixed;
  z-index: 4;
  border: none;
  background: $cancel-color;
  color: #fff;
  width: 15%;
  height: 40px;
  margin: 10px 0 0 10px;
  font-size: 18px;
  &:hover{
    background: $cancel-color-hover;
  }
}


.overflow-hidden-body {
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .post-modal {
    &__container-information {
      width: 100%;
      padding-top: 60px;
    }

    .slick-slider {
      width: 400px !important;
      height: 300px !important;
    }

    &__container-image {
      height: 300px;
    }

    &__added-photo {
      height: 300px !important;
      background-color: #fff;
    }

    .slick-next::before, .slick-prev::before  {
      color: #000 !important;
    }

    .slick-next {
      right: 0 !important;
    }

    .slick-prev  {
      left: 0 !important;
    }
  }

  .close-post-modal {
    width: 95%;
  }
}
