@import '/src/assets/colors';
.post-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #fff;
  padding: 0 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 1000px;
  border-radius: $radius-md;

  &__layout {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

.post-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0 10px 10px;
  justify-content: space-between;

  //TODO ver se isso esta certo nao sei usar esse negocio direito
  .post-delete-edit {
    align-items: center;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  //TODO ver se isso esta certo nao sei usar esse negocio direito
  .post-delete {
    color: $delete-color;
    border: 2px solid $delete-color;
    background: none;
    height: 34px;
    width: 68px;
    font-size: 16px;
    border-radius: 25px;
  }

  .post-delete:hover {
    color: #ffffff;
    border: none;
    background: $delete-color;
  }

  //TODO ver se isso esta certo nao sei usar esse negocio direito
  .post-edit {
    color: $edit-color;
    border: 2px solid $edit-color;
    background: none;
    height: 34px;
    width: 68px;
    font-size: 16px;
    border-radius: 25px;
  }

  .post-edit:hover {
    color: #ffffff;
    border: none;
    background: $edit-color;
  }


  &__container {
    display: flex;
  }

  &__picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: $border-clean;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  &__name {
    font-weight: 800;
    font-size: 25px;
  }

  &__added-photo {
    display: flex !important;
    justify-content: center;
    width: 95% !important;
    margin: 10px;
    height: 320px;
  }

  &__text-post {
    margin-top: 10px;
    margin-left: 10px;
  }

  &__text-size {
    font-size: 20px;
  }
}

.post-information {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.post-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.post-button {
  height: 50px;
  background-color: $verde-forte-principal;
  color: #fff;
  outline: none;
  border: none;
  width: 100%;
  margin: 20px 0;
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  border-radius: $radius-sm;
  &:hover {
    background-color: $verde-forte-principal-hover;
  }
}

.justifyStart {
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .post-wrapper {
    padding: 0;
    width: 400px;

  }

  .home-container__posts {
    .slick-slider {
      width: 80% !important;
    }
  }

  .post-information {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-left: 70px;
  }

  .post-profile {
    &__added-photo {
      width: 95% !important;
      margin: 10px;
      height: 320px;
    }

    &__text-post {
      margin: 0 10px;
    }

    .post-delete-edit {
      flex-direction: column;
      justify-content: space-around;
      width: 100px;
    }
  }

  .post-button {
    width: 30%;
    padding-left: 5px;
    font-size: 12px;
  }
}

.home-container__posts {
  .slick-slider {
    width: 60%;
    height: 35%;
  }

  .slick-arrow {
    top: 140%;

    &::before {
      color: #000;
    }
  }
}
