.post-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #fff;
  padding: 0 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &__layout {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

.post-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0 10px 10px;

  &__picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  &__name {
    font-weight: 800;
  }

  &__added-photo {
    display: flex;
    justify-content: center;
    background: black;
    width: 60%;
  }

  &__photo {
    width: 60%;
  }

  &__text-post {
    margin-top: 10px;
  }
}

.post-information {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.post-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.post-button {
  height: 50px;
  background-color: #4A804E;
  color: #fff;
  outline: none;
  border: none;
  width: 30%;
  margin: 20px 0;
  font-weight: 500;
  font-family: 'Montserrat';
  text-align: inherit;
  padding-left: 30px;
  font-size: 16px;
}