@import '/src/assets/colors';
//TODO ver se n fiz merda aqui
.home-container {
  display: flex;
  flex-direction: row;

  &__posts {
    margin-left: 23%;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    outline: none;
    background: $atualizar-botao;
    width: 850px;
    border: none;
    height: 50px;
    margin: 20px 0 0;
    font-size: 30px;
    align-items: center;
    border-radius: $radius-md;
    color: #2a2a2a;
  }

  &__button:hover {
    border-radius: $radius-md;
    background: $atualizar-botao-hover;
    color: black;
  }

  .chat-button {
    outline: none;
    background: #E2F1E4;
    border: none;
    width: 200px;
    margin: 20px 0 0;
    font-size: 18px;
    align-items: center;
    border-radius: 1rem;
    color: #2a2a2a;
  }

  &__none-posts {
    display: flex;
    justify-content: center;
  }

  &__svg {
    margin: auto;
    background: transparent;
    display: block;
    margin-top: 20px;
    display: none;
  }

  &__show-svg {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    &__posts {
      margin-left: 0;
      margin: 50px auto 0;
    }

    &__button {
      border-radius: $radius-md;
      width: 250px;
      font-size: 18px;
    }

    .chat-button {
      width: 120px;
    }
  }
}
