@import '/src/assets/colors';
.chat-container {
  right: 60px;
  bottom: 0;
  width: 20%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .chat-content {
    height: 350px;
  }

  .chat-button {
    width: 80%;
    background-color: #EB4141;
    height: 45px;
    font-size: 21px;
    color: white;
    margin: auto;
    border: none;

    &--open {
      background-color: $verde-forte-principal;
    }
  }

  .chat-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .chat-friends {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;

    &__container {
      border: 1px solid black;
    }

    &__image {
      width: 60px;
      height: 60px;
    }

    &__name {
      font-weight: 600;
      font-size: 16px;
      margin-left: 20px;
    }

    &__overflow {
      overflow: auto;
      height: 300px;
    }

    &__input {
      width: 94%;
      height: 40px;
      margin: 5px;
      border: 1px solid black;
      outline: none;
    }

    &__button {
      border: none;
      height: 30px;
      background: $verde-forte-principal;
      color: #fff;
    }
  }
}

@media screen and (max-width: 480px) {
  .chat-container {
    width: 80%;
  }
}
