@import '/src/assets/colors';
.chat-container {
  right: 60px;
  border-radius: $radius-sm $radius-sm 0 0;
  bottom: 0;
  width: 25%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .chat-content {
    height: 350px;
    padding-right:10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    &__input {
      height: 40px;
      //border: 1px solid black;
      border-radius: $radius-sm;
      //outline: none;
      font-size: 16px;
      margin-bottom: .5rem;
    }
  }

  .chat-button {
    width: 100%;
    border-radius: $radius-sm;
    background-color: $cancel-color;
    height: 45px;
    font-size: 21px;
    color: white;
    margin: auto;
    border: none;

    &--open {
      background-color: $edit-color;
      width: 100%;
      border-radius: $radius-sm;
    }
  }

  .chat-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .chat-friends {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__container {
      border: $border-clean;
      border-radius: $radius-sm;
      padding-right: 10px;
    }

    &__image {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }

    &__name {
      font-weight: 600;
      font-size: 16px;
      margin-left: 20px;
    }

    &__overflow {
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 300px;
      gap: 5px;
    }

    &__input {
      height: 40px;
      //border: 1px solid black;
      border-radius: $radius-sm;
      font-size: 16px;
      //outline: none;
    }

    &__button {
      border: none;
      height: 30px;
      background: $edit-color;
      color: #fff;
      border-radius: $radius-sm;
    }
  }
}

@media screen and (max-width: 480px) {
  .chat-container {
    width: 80%;
    right: 50px;
  }
}
