body {
	background-color: #f9fff9 !important;
}

.link:hover,
.link:visited,
.link:link,
.link:active {
	text-decoration: none;
}

.help-button {
  border: none;
  height: 35px;
  width: 70px;
  background: #0E4EB4;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
}
