@import './src/assets/colors';

body {
  background-color: $fundo-geral !important;
}

.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
}

.help-button {
  border: none;
  height: 35px;
  width: 70px;
  background: $help-color;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  &:hover {
    background: $help-color-hover;
  }
}
