@import '/src/assets/colors';

.chat-with-person {
  .chat-container {
    right: 30%;
    bottom: 0;
    width: 25%;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;



    .chat-content {
      height: 350px;
    }

    .chat-button {
      background-color: #EB4141;
      height: 45px;
      font-size: 21px;
      color: white;
      margin: auto;
      border: none;

      &--open {
        background-color: $verde-forte-principal;
      }
    }

    .chat-group {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .chat-friends {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px;

      &__container {
        border: 1px solid black;
      }

      &__image {
        width: 60px;
        height: 60px;
      }

      &__name {
        font-weight: 600;
        font-size: 16px;
        margin-left: 20px;
      }

      &__overflow {
        overflow: auto;

        height: 300px;
      }

      &__send-message {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100%;

        &__ladoALado {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: row;
        }
      }

      &__send {
        border: none;
        outline: none;
        border-radius: 25px;
        height: 40px;
        width: 40px;
        background: #F9FFF9;
      }

      &__input {
        width: 80%;
        height: 40px;
        margin: 5px;
        border: $border-clean;
        //outline: none;
      }

      &__button {
        border: none;
        height: 30px;
        background: $verde-forte-principal;
        color: #fff;
      }
    }

    .chat-message {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: $border-clean;
      margin-right: 15px;
      //margin: 10px 5px;

      &__name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      &__my-message {
        align-items: flex-end;
        margin-right: 15px;
      }

      &__my-text {
        text-align: end;
      }

      &__container {
        height: 300px;
        overflow: auto;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .chat-container {
      width: 80%;
      right: 50px;
    }
  }
}

