@import '/src/assets/colors';

.friendsRequests {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  height: 260px;
  border: $border-clean;
  border-radius: $radius-md;
  padding: 20px 5px;
  margin: 10px;

  &__photo {
    height: 70px;
    width: 70px;
    border-radius: 50px;
  }

  &__button {
    border-radius: $radius-sm;
    width: 80%;
    height: 30px;
    border: none;
    background: $edit-color-hover;
    font-weight: 600;
    color: white;
    padding-top: 7px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
    &:hover{
      background: $edit-color;
    }
  }
}
