.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.modal-main {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  width: 400px;
  height: auto;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  padding: 50px 0 20px;
  border-radius: 25px;

  .icon-cursor {
    cursor: pointer;
  }

  &__icon-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    padding-right: 23px;
    padding-bottom: 10px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__cancel-button,
  &__confirm-button {
    border: 1px solid #B8BBBF;
    padding: 10px;
    min-width: 45%;
  }

  &__confirm-button {
    background-color: #000;
    color: #fff
  }

  &__title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat';
  }

  &__text {
    text-align: center;
    font-size: 15px;
    margin: 18px 16px 15px;
    font-family: 'Montserrat';
  }

  &__button {
    border: none;
    width: 60%;
    margin: auto;
    height: 35px;
    border-radius: 25px;
    margin-top: 15px;
    outline: none;
    font-weight: 800;
    font-family: 'Montserrat';
    
    &--success {
      color: #2A562A;
      background: #AEC5B1;
    }

    &--danger {
      color: #692326;
      background: #F3D8DA;
    }

    &--warning {
      color: #89702E;
      background: #FDF3D1;
    }
  }

  @media screen and (max-width: 480px) {
    margin: auto;
  } 
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}