@import '/src/assets/colors';
.forgotPassword-container {
  &__welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .forgotPassword-subtitle {
    font-weight: 500;
    margin: -10px 0 40px 0;
  }

  .forgotPassword-title {
    font-size: 40px;
    font-weight: 900;
  }


  .forgotPassword-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__layout {
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    }

    &__enter {
      width: 65%;
      background-color: #e3f1e4;
      padding: 0 30px 30px;
      border-radius: 50px;
      flex-direction: column;
      justify-content: space-evenly;
      display: flex;
      align-items: center;
    }

    &__title {
      justify-content: center;
      display: flex;
    }

    &__inputs {
      display: flex;
      justify-content: left;
      flex-direction: column;
      width: 45%;
    }

    &__input {
      height: 34px;
      background-color: #fff;
      border: 2px solid #A4A4A4;
      border-radius: 50px;
      text-indent: 15px;
      margin-top: 5px;

      &--select {
        height: 40px;
      }

      &--area {
        height: 60px;
        padding: 10px 5px;
        resize: none;
      }
    }

    &__input::placeholder {
      font-family: 'Montserrat';
    }

    &__input-mail {
      padding: 0 0 0 5px;
    }

    &__input-password {
      padding: 30px 0 0 5px;
    }
  }

  .forgotPassword-submit {
    width: 45%;
    display: flex;
    flex-direction: column;

    &__button {
      width: 45%;
      background-color: $help-color;
      border-radius: 25px;
      height: 70px;
      font-size: 25px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      margin-top: 40px;

      &--reset {
        background-color: #A1CAF9;
      }
    }
  }
}
