.header-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;

  .header-group {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__title {
      font-size: 30px;
      font-weight: bold;
    }

    &__links {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }

    &__link {
      padding: 20px 10px;
      color: #000;
      font-weight: 500;

      &--selected {
        background: #E2F1E4;
      }

      &:hover {
        background: #E2F1E4;
      }
    }
  }

  .header-wrapper-buttons {
    display: flex;
    flex-direction: column;

    .header-button {
      color: #fff;
      outline: none;
      border: none;
      height: 50px;
      margin: 0 20px;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      padding-left: 10px;
    }

    .exit-button {
      background-color: #3478E3;
    }

    .help-button {
      background-color: #4A804E;
      margin-bottom: 10px;
    }
  }
}
