@import '/src/assets/colors';
.logo-link{
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &__span {
    color: black;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    text-align: center;

    &--mobile {
      font-size: 12px;
      padding-left: 10px;
    }
  }

  &:hover{
    background-color: $atualizar-botao-hover;
    outline: 3px solid $atualizar-botao-hover;
    border-radius: $radius-sm;
  }

}

.header-container {
  background-color: $fundo-geral;
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  z-index: 2;

  .header-group {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__title {
      font-size: 30px;
      font-weight: bold;
    }

    &__links {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }

    &__logo {
      width: 100%;
      filter: contrast(100);
    }

    &__link {
      padding: 20px 10px;
      color: #000;
      font-weight: 500;
      border-bottom: $border-clean;

      &--selected {
        background-color: $atualizar-botao-hover;
        color: black;
      }

      &:hover {
        border-bottom: 3px solid rgba(56, 166, 0, 0.32);
        padding: 19px 10px;
        background: #E2F1E4;
      }

      &--selected:hover{
        color: white;
        background-color: $help-color-hover;
        border-bottom: 3px solid rgb(0, 0, 0);
      }
    }
  }

  .header-wrapper-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;

    .header-button {
      color: #fff;
      outline: none;
      border: none;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      border-radius: $radius-sm;
    }

    .exit-button {
      text-align: center;
      background-color: $verde-forte-principal;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      &:hover {
        background-color: $verde-forte-principal-hover;
      }
    }

    .help-button-header {
      width: 40%;
      background-color: $help-color;

      &:hover {
        background-color: $help-color-hover;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    width: 50%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &__hamburger {
      height: 40px;
    }
  }

  .display-none {
    display: none !important;
  }

  .display-flex {
    display: flex;
  }

  .header-closed {
    width: 90%;
    height: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: 900;
    justify-content: space-between;
  }

  .header-container-closed {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .header-test {
    margin-bottom: 15px;
  }
}
