//@import '/src/assets/colors';
$fundo-geral: #f9fff9;
$atualizar-botao: #E2F1E4;
$atualizar-botao-hover: #a0eaa4;
$delete-color: #de0303;
$edit-color: #65008d;
$help-color: #2d62ed;
$help-color-hover: #152E6E;
$verde-forte-principal: #4A804E;
$verde-forte-principal-hover: #254027;
$cancel-color: #EB4141;

$radius-sm: .5rem;
$radius-md: 1rem;
$border-clean: 1px solid #00000052;
