
/*LINK*/

button::before{
  cursor: var(--link);
}

.clicavel {
  cursor: var(--link);
}

input[type=file] {
  cursor: var(--link);
}

textarea{
  font-family: 'Montserrat';
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*CURSOR*/
:root {
  --normal:url('assets/cursores/CursorNormal'), default;
  --ajuda: url('../src/assets/cursores/Ajuda'), pointer !important;
  --link: url('../src/assets/cursores/Link'), pointer;
  --texto: url('../src/assets/cursores/Digitando'), pointer;
  --proibido: url('../src/assets/cursores/Proibido.cur'), pointer;
}

/*DEFAULT*/
body {
  cursor: var(--normal)
}

label {
  cursor: var(--normal)
}

select {
  cursor: var(--link);
}

:disabled {
  cursor:  var(--proibido);
}

/*HELP*/

.help-cursor {
  cursor: var(--ajuda)
}

button {
  cursor: var(--link)
}

a {
  cursor: var(--link)
}

.post-profile__picture, .post-profile__name {
  cursor: var(--link)
}

/*TEXT*/

input[type=text]:focus {
  background-color: #eef9ff;
}

input[type=email]:focus {
  background-color: #eef9ff;
}

input[type=password]:focus {
  background-color: #eef9ff;
}

textarea[type=text]:focus {
  background-color: #eef9ff;
}

input[type=date]:focus {
  background-color: #eef9ff;
}

input[type=text] {
  cursor: var(--texto);
  caret-color: #de0303;
}

textarea {
  cursor: var(--texto);
  caret-color: #de0303;
  caret-shape: bar;
}

/*CURSOR*/
.back-image-rotate {
  transform: rotate(180deg);
}

button {
  outline: none
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900');

iframe {
  display: none;
}

